# pipenv install 
# pipenv shell to use
#
# To use in code set virtual env interpretter in code E.g.:
# http://bit.ly/2HLfkMc
# C:\> pipenv --venv
# vs_code_command_pallette> Select WorkSpace Interpreter
#


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ring-doorbell = "*"
pendulum = "*"
pdfrw = "*"
schedule = "*"
prospector = "*"
rope = "*"
yapf = "*"
ftfy = "*"


[dev-packages]

